.table {
    min-width: 700px;
    overflow: auto;
    background-color: white !important;
}

.mat-table {
    display: table;
    padding: 0 16px;

    > .mat-header-row, > .mat-row {
        display: table-row;
        padding: 0;
        border: none;

        > .mat-header-cell, > .mat-cell {
            display: table-cell;
            height: 48px;
            vertical-align: middle;
            padding: 0 0.5em;
            border-bottom: 1px solid rgba(0, 0, 0, 0.12);
        }
    }
}

.mat-form-field {
    font-size: 14px;
    width: 100%;
}

.form-material {
    min-width: 150px;
    max-width: 5000px;
    width: 100%;
    color: rgba(0, 0, 0, .87);
}

.btn-apply {
    margin-right: 20px;
    float: right;
}

.btn-cancel {
    float: right;
}
