<h2> SRM</h2>

<br>

<div class="row">
    <div class="outer-container">
        <a (click)="goToCustomer()" href="javascript:void(0)">
            Gerenciar Clientes
        </a>
    </div>
</div>
